body {
  display: flex;
  background-color: lightgray;
  justify-content: center;
  max-width: 99vw;

}

.parent {
    display: grid;
    width: 90vw;
    height:  90vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr 3fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
    min-width: 400px;
    max-width: 760px;
}

  .letra {
    grid-area: 1 / 1 / 2 / 2;
    font-weight: bold;
    font-size: 7rem;

  }

  .dibujos {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: bold;
  }

@media (orientation: landscape) {
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1400px;
  
  }
    .letra { grid-area: 1 / 1 / 2 / 2; }
    .dibujos { grid-area: 1 / 2 / 2 / 3;}
  

}


 

    .dibujos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        }
        
        .boton1 { grid-area: 1 / 2 / 2 / 4; }
        .boton2 { grid-area: 1 / 4 / 2 / 6; }
        .boton3 { grid-area: 2 / 1 / 3 / 3; }
        .boton4 { grid-area: 2 / 3 / 3 / 5; }
        .boton5 { grid-area: 2 / 5 / 3 / 7; }

.boton img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* para los botones de los dibujos */

/* Estilo base para el botón */
.boton {
    max-width: 250px;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 3px solid #555;
    border-radius: 35px;
    cursor: pointer;
  }
  
  /* Estilo para el fondo del botón */
  .boton-primary {
    background-color: #3498db; /* Azul */
    color: #ffffff; /* Texto blanco */
  }
  
  /* Estilo para el botón al pasar el cursor sobre él */
  .boton-primary:hover {
    background-color: #2980b9; /* Azul más oscuro */
  }
  
  /* Otros estilos opcionales (sombra, bordes, etc.) */
  .boton-secondary {
    background-color: #f39c12; /* Naranja */
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    border: 1px solid #e67e22; /* Borde naranja */
  }
  
  /* Estilo para el botón secundario al pasar el cursor sobre él */
  .boton-secondary:hover {
    background-color: #d35400; /* Naranja más oscuro */
  }